@import url('https://fonts.googleapis.com/css?family=Manuale:400,500,700');

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:900');


body{
  font-family: 'Manuale', serif;
  background:rgba(15,15,35,1);

}

h1{
  font-family: 'Alegreya SC', serif;
  font-weight: 900;
  text-transform: lowercase;
  letter-spacing: 0.25rem;
  color:rgba(0, 155, 155, 1.00);
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom:3px solid rgba(0, 112, 255, 1.00);
}

footer p {
  margin-bottom: .25rem;
}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }